*{
    box-sizing: border-box;
}
/* GENERAL */
*,
*::before,
*::after{
    box-sizing: inherit;
}
html{
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

img{
    display: block;
    height: auto;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    background-color: #fff;
    overflow-x: hidden;
    font-family: "Ibarra Real Nova", serif;
    font-family: "Public Sans", "Arial", sans-serif;
    scroll-behavior: smooth;
}

.body-scroll {
    overflow: hidden;
}

@include mobile-first(700px) {
    .body-scroll {
        overflow: scroll;
    }
}

/* STICKY-FOOTER */
.site-main{
    flex-grow: 1;
}